@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Mulish:wght@400;700;800&display=swap');
html{
    font-size: 62.5%;
    height: 100%;
}

a{
    text-decoration: none !important;
}

// font-family: 'Montserrat', sans-serif;
// font-family: 'Mulish', sans-serif;


